<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="spacer" style="width: 286.4px; height: 43px;"></div>
            <label class="item item-input">
                <span class="input-label">College Email</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 286.4px; height: 18px;"></div>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
            <div class="spacer" style="width: 286.4px; height: 18px;"></div>
            <form class="list">
                <a ui-sref="home" class="button login-button button-block ">Log in</a>
                <a ui-sref="signup" class="button button-dark button-clear button-block ">Or create an account</a>
            </form>
        </form>
    </ion-content>
</ion-view>